body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.fw-bold {
  font-weight: 600 !important;
}

.hero_sec {
  background: rgb(0, 177, 180);
  background: linear-gradient(90deg, rgba(0, 177, 180, 1) 0%, rgba(3, 120, 124, 1) 100%);

  h4 {
    font-weight: 600;
  }
}

// Timeline
.timeline {
  position: relative;
  border-color: rgba(160, 175, 185, 0.15);
  padding: 0;
  margin: 0;
}

.card {
  background: #fff;
  border-width: 0;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}

.tl-item {
  border-radius: 3px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
}

.tl-item>* {
  padding: 0 10px;
}

.tl-item .avatar {
  z-index: 2;
}

.tl-item:last-child .tl-dot:after {
  display: none;
}

.tl-item.active .tl-dot:before {
  border-color: #13a10e;
}

.tl-item:last-child .tl-dot:after {
  display: none;
}

.tl-item.active .tl-dot:before {
  border-color: #13a10e;
}

.tl-dot {
  position: relative;
  border-color: #979593;
}

.tl-dot:before {
  content: "";
  position: absolute;
  border-color: inherit;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.tl-dot:after {
  content: "";
  position: absolute;
  border-color: inherit;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: 13px;
  left: 76%;
  transform: translateX(-50%);
}

.tl-dot:after {
  height: auto;
  top: 15px;
  bottom: 3px;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
  border-style: dashed;
}

.tl-item.active .tl-dot:before {
  border-color: #13a10e;
  background: url("images/check-solid.svg") 1px 1px no-repeat;
}

.tl-content p:last-child {
  margin-bottom: 0;
}

.tl-date {
  font-size: 0.85em;
  margin-top: 2px;
  min-width: 100px;
  max-width: 100px;
}

.tl-item {
  .card {
    margin-bottom: 0.75rem;
    background: #ffffff33;

    .card-body {
      padding: 0.75rem;
      background-color: #ffffff99;
    }
  }
}

.badge {
  &.bg-gadient-green {
    background: rgb(0, 177, 180);
    background: linear-gradient(90deg, rgba(0, 177, 180, 1) 0%, rgba(3, 120, 124, 1) 100%);
    color: #fff;
  }

  &.bg-gadient-grey {
    background: #919191;
  }
}

.accordion-button,
.accordion-body {
  padding: 0.75rem !important;
}

.accordion-button:not(.collapsed) {
  color: #6264a7 !important;
  // box-shadow: none !important;
}

.accordion-button:after {
  // background-image: url('images/chevron-circle-down-solid.svg') 1px 1px no-repeat;
  background-image: url("images/chevron-circle-down-solid.svg") !important;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  margin-left: 10px;
  position: absolute;
  right: 12px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("images/chevron-circle-up-solid.svg") !important;
  transform: rotate(-0deg) !important;
}

.accordion-button:not(.collapsed) {
  background-color: #f5f5f5 !important;
}

.accordion-collapse {
  box-shadow: inset 0 -1px 0 #00000021 !important;
}

.accordion-item:last-of-type .accordion-collapse {
  border-radius: 0 !important;
}

.accordion-item {
  background-color: transparent !important;
}

.accordion-button.collapsed .chat {
  display: none !important;
}

.accordion-button .chat {
  display: block;
  line-height: 14px;
}

.pikdate {
  width: 100%;

  [data-aa-class="Datepicker__input"] {
    width: calc(100% - 32px);
  }

  input[type="text"] {
    width: 100%;
    padding-right: 10px;
  }

  button {
    box-shadow: none;
  }
}

// EDITOR STYLE

// .rdw-editor-toolbar {
//   border-radius: 4px;
//   border: 1px solid rgba(0, 0, 0, 0.1) !important;
//   background: rgba(0, 0, 0, 0.1) !important;
// }
.rdw-editor-main {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  min-height: 140px;
  padding: 12px;
}

.public-DraftStyleDefault-block {
  margin: 0 !important;
}

.rdw-option-wrapper {
  padding: 14px 7px !important;
}

.rdw-dropdown-wrapper {
  font-size: 13px !important;
}

.rdw-dropdown-wrapper span {
  color: #000;
}

.rdw-dropdown-selectedtext {
  text-decoration: none;
}

.command_bar {
  box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 6.4px 14.4px 0px rgba(0, 0, 0, 0.07);
}


.report_download {
  background: rgb(0, 177, 180);
  background: linear-gradient(90deg, rgba(0, 177, 180, 1) 0%, rgba(3, 120, 124, 1) 100%);
  overflow: hidden;
  margin: -12px;
}

.overflow_off>.ui-dropdown>.ui-dropdown__container>.ui-dropdown__selected-items {
  overflow-y: inherit !important;
}
.error-message-save{
 color:red;
}